/* SPDX-License-Identifier: Apache-2.0 */
/* SPDX-FileCopyrightText: 2023 Uri Shaked <uri@tinytapeout.com> */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 0;
  text-align: center;
  border-bottom: #282c34 1px solid;
}

.file-name {
  display: inline-block;
  background-color: #ccc;
  padding: 4px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

textarea {
  flex: 1;
  resize: none;
  border: #ccc 1px solid;
  overflow: auto;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
}

.error {
  border-color: red;
  color: red;
  font-weight: bold;
}
